
[submodule "bundle/tcomment"]
	path = pack/general/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/emmet"]
	path = pack/general/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-javascript"]
	path = pack/lang/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = pack/lang/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/php.vim"]
	path = pack/lang/opt/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "pack/general/start/fzf.vim"]
	path = pack/general/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/lang/start/vim-vue"]
	path = pack/lang/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "pack/general/start/vim-sandwich"]
	path = pack/general/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich.git
[submodule "pack/general/start/ale"]
	path = pack/general/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/lang/start/yats-typescript"]
	path = pack/lang/start/yats-typescript
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "pack/general/start/vim-unpaired"]
	path = pack/general/start/vim-unpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/general/start/vimwiki"]
	path = pack/general/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/general/start/vim-fugitive"]
	path = pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/colors/start/dracula"]
	path = pack/colors/start/dracula
	url = https://github.com/dracula/vim.git
