
[submodule "bundle/gundo"]
	path = pack/general/start/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/tcomment"]
	path = pack/general/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/emmet"]
	path = pack/general/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-javascript"]
	path = pack/lang/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jsx"]
	path = pack/lang/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/prettier"]
	path = pack/general/start/prettier
	url = https://github.com/prettier/vim-prettier
[submodule "bundle/vim-polyglot"]
	path = pack/lang/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "bundle/php.vim"]
	path = pack/lang/opt/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "bundle/tern"]
	path = pack/lang/opt/term-js
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "pack/colors/start/vim-monokai"]
	path = pack/colors/start/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "pack/general/start/fzf.vim"]
	path = pack/general/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/lang/start/vim-vue"]
	path = pack/lang/start/vim-vue
	url = https://github.com/posva/vim-vue.git
